
.circle {
    cursor: pointer;
    margin: 20px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background: linear-gradient(#f0efeefa, #5e5c5bdb);
    box-shadow: 3px 3px 3px 3px rgb(5, 66, 83);
    display: flex;
    justify-content: center;
    align-items: center;
}